.ui-header .ui-title,
.ui-footer .ui-title,
.ui-btn-inner *{
   white-space: normal !important;
}

.photo{
   text-align: center;
}

#result-title{
   margin-bottom: 0.2em
}

#result{
   display: block;
   font-size: 1.8em;
   text-align: center;
   color:#b12d2d;
}

.ui-header, .ui-footer{border:none;}
.ui-content, .ui-body-b{border:none;}
.ui-content, .ui-body-b{border:none;}

@font-face
{
font-family: 'Lato';
src: url("../fonts/calibri.woff");
} 

body{font:'Lato';}
html.ui-body-b,#content.ui-body-b,#content.ui-content{border:none;}
html .ui-body-b{border-width:0;border-style:solid;}
