<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id        = "ac.id.abngchobs.student.gunadarma.currencyconverter"
        version   = "1.0.0">
   
   
   <name>Currency converter</name>

   <description>Currency Converter is a simple multi-platform applications that are useful to help change the value of one currency to another.</description>

   <author href="http://10108528.student.gunadarma.ac.id" email="abngchobs@student.gunadarma.ac.id">Dennis Mahisa Aditya</author>

	<gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	
   <!--<gap:plugin name="Globalization" value="org.apache.cordova.Globalization" version="0.2.6"/>
   <gap:plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />-->

   
   <feature name="http://api.phonegap.com/1.0/network"/>
    
   <preference name="phonegap-version" value="3.5.0" />
   <preference name="target-device" value="universal" />
   <preference name="SplashScreen" value="splash" />
   <preference name="SplashScreenDelay" value="10000" />
	
   <access origin="*" />

   <!-- Icons -->
   <icon src="icon.png" width="64" height="64" gap:role="default" />
   <icon src="images/icon-72x72.png" width="72" height="72" gap:platform="android" gap:density="hdpi" />
   <icon src="images/icon-96x96.png" width="96" height="96" gap:platform="android" gap:density="xhdpi" />
   <icon src="images/icon-72x72.png" width="72" height="72" gap:platform="ios" />

   <!-- Splash Screens -->
   <splash src="splash.png" />
   <splash src="images/splash-160x220.png" gap:platform="android" gap:density="ldpi" />
   <splash src="splash.png" gap:platform="android" gap:density="mdpi" />
   <splash src="images/splash-720x1280.png" gap:platform="android" gap:density="hdpi" />
</widget>